/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}


/* 992px. */

body {
    margin: 0 auto;
    width: 992px;
    -webkit-text-size-adjust: 100%; /* Stops Mobile Safari from auto-adjusting font-sizes */
}

.wrapper {
    margin: 0 auto;
    width: 992px;
}

ul.user-actions {
    display: block;
    float: right;
}


/* Tablet Layout: 768px.  */

@media only screen and (min-width: 768px) and (max-width: 991px) {
    
    body {
        width: 768px;
    }

    .wrapper {
        width: 768px;
    }

    .single img {
        max-width: 768px;
    }
}



/* Mobile Layout: 320px. */

@media only screen and (max-width: 767px) {
    
    body {
        width: 320px;
        padding: 0px;
    }

    .wrapper {
        width: 320px;
    }
    
    ul.user-actions {
        clear: both;
        float: left;
        margin-top: 15px;
        width: 100%;
    }

    .single img {
        max-width: 320px;
    }
}



/* Wide Mobile Layout: 480px. */

@media only screen and (min-width: 480px) and (max-width: 767px) {
    
    body {
        width: 480px;
    }
    
    .wrapper {
        width: 480px;
    }

    .single img {
        max-width: 480px;
    }
}


/*  Retina media query.
    Overrides styles for devices with a 
    device-pixel-ratio of 2+, such as iPhone 4.
-----------------------------------------------    */

@media 
    only screen and (-webkit-min-device-pixel-ratio: 2),
    only screen and (min-device-pixel-ratio: 2) {
    
    body {
    
    }
    
}

/* main content */

@font-face {
    font-family: 'FranklinGothicBookXComp';
    src: url('franklingothic-bookxcomp-webfont.eot');
    src: url('franklingothic-bookxcomp-webfont.eot?#iefix') format('embedded-opentype'),
         url('franklingothic-bookxcomp-webfont.woff') format('woff'),
         url('franklingothic-bookxcomp-webfont.ttf') format('truetype'),
         url('franklingothic-bookxcomp-webfont.svg#FranklinGothicBookXComp') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: #f4f4f4;
    font-family: 'FranklinGothicBookxComp';
    letter-spacing: 1px;
    padding: 10px;
}

body.single {
    background-color: #111;
}

body.edit {
    background-color: #4fd4ff;
}

a {
    border-bottom: 2px solid #f4f4f4;
    color: #187fb4;
    text-decoration: none;
}

a:hover {
    border-bottom: 2px solid #187fb4;
}

.single .photo, div.edit {
    clear: both;
    float: left;
    margin-top: 20px;
    width: 100%;
}


#logo, h1 {
    color: #222;
    font-size: 30px;
    font-weight: normal;
    text-transform: uppercase;
}

h1 {
    clear: both;
    float: left;
    width: 100%;
}

#logo, #logo:hover {
    border-bottom: 0px;
}

.single #logo {
    color: #6cc2ee;
}

ul.user-actions li {
    float: left;
    margin: 0px 5px 0px 5px;
    width: auto;
}

ul.user-actions li a {
    background-color: #ddd;
    border-bottom: 2px solid #bbb;
    border-radius: 3px;
    display: block;
    font-size: 18px;
    padding: 3px 7px 3px 7px;
    text-transform: uppercase;
}

ul.user-actions li a:hover {
    background-color: #bbb;
    border-bottom: 0px;
    border-top: 2px solid #ddd;
    color: #303639;
}

h1 {
    clear: both;
    color: #444;
    float: left;
    margin-top: 10px;
}

.form-wrapper {
    border-top: 1px solid #ddd;
    clear: both;
    float: left;
    margin: 20px 0px 20px 0px;
    padding: 20px 0px 20px 0px;
    width: 100%;
}

input {
    margin-bottom: 10px;
}

input[type="text"] {
    border: 1px solid #ccc;
    padding: 5px;
    width: 95%;
}

button {
    background-color: #0f70a2;
    border: 0px;
    border-bottom: 2px solid #052c40;
    border-radius: 5px;
    color: #cceeff;
    cursor: pointer;
    font-family: 'FranklinGothicBookXComp';
    font-size: 20px;
    margin-top: 10px;
    padding: 2px 5px 0px 5px;
    text-transform: uppercase;
}

button:hover {
    background-color: #052c40;
    border-bottom: 0px;
    border-top: 2px solid #0f70a2;
    color: #2b89b8;
}

.single p {
    color: #ccc;
    font-family: Arial, sans-serif;
    margin-top: 20px;
}

.actions {
    background-color: #1c1c1c;
    border-bottom-left-radius: 3px;
    -moz-border-radius-bottomleft: 3px;
    -webkit-border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
    -moz-border-radius-topleft: 3px;
    -webkit-border-top-left-radius: 3px;
    clear: both;
    float: left;
    margin-top: 20px;
    padding: 5px;
    width: 100%;
}

.actions a {
    border-bottom: 0px;
    border-radius: 3px;
    display: block;
    float: left;
    font-size: 18px;
    margin-right: 10px;
    padding: 3px 6px 3px 6px;
    text-transform: uppercase;
}

.actions a.edit {
    background-color: #4fd4ff;
    color: #165f77;
}

.actions a.delete {
    background-color: #bf1919;
    color: #ffdee3;
}

.actions a:hover {
    background-color: #fff;
    color: #333;
}
